.env
*.log
*.jsonl
*.pyc
*.html
*.ipynb
*.tar.gz
temp/
assets/
data/
logs/
**/__pycache__/
.vscode/
scripts/
.venv/
.gradio/
.venv_current_node/

# Frontend
frontend/node_modules/
frontend/.next/
frontend/out/